@font-face {
    font-family: norse-bold;
    src: url(Norse-Bold.otf);
}
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

body {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}
a {
    color: #596D48;
    text-decoration: none;
}
label {
    width: 300px;
}
.inputs {
    display: flex;
    flex-direction: column;
    width: 300px;
}
input {
    border-radius: 5px;
    border-style: solid;
    border-width: .5px;
    border-color: rgb(199, 198, 198);
    width: 300px;
}
input:focus {
    box-shadow: 3px 3px 3px grey;
}

.left {
    height: 100vh;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(pictures/IMG_0830.jpg);
    background-position: center;
}
.darkbg {
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,0.5);
    width: 100%;
}
#banner {
    font-size: xx-large;
    font-family: norse-bold, 'Courier New', Courier, monospace;
    color: aliceblue;
}

.right {
    height: 100vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 248, 248);
}
#para {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-weight: bold;
    font-size: x-large;
    padding-left: 50px;
    width: 1350px;
    gap: 30px;
    
}
#userInput {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 1px 3px gray;
    flex: 1;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}
table {
    height: 100%;
    width: 40%;
    column-gap: 20px;
}
#bottom {
    flex: 1;
    padding-left: 50px;
    padding-top: 30px;
}
#btn {
    font-size: larger;
    font-weight: bold;
    color: white;
    padding: 10px 40px 10px 40px;
    background-color: #596D48;
    border: 0px;
    border-radius: 8px;
}
#btn:hover {
    background-color: #404e34;
}
a:hover {
    color: #404e34;
}
.login {
    padding-top: 30px;
}
img {
    max-height: 100vh;
}
.inputs:invalid {
    border-color: red;
}

.footer {
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #596D48;
    text-align: center;
}

.footer > a {
    color: black;
}

.footer > a:hover {
    color: white;
}