body{
    display: flex;
    
}
.left {
    height: 100vh;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(pictures/IMG_0830.jpg);
    background-position: center;
}
.right {
    height: 100vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
img {
    max-height: 100vh;
}